p.verso{
    color: blue;
}

p.autor{
    color: purple;
}

p.mote{
    color: red;
}

a.styled:link{
    color: red;
}
a.styled:visited{
    color: purple;
}
a.styled:hover{
    color: hotpink;
}
a.styled:active{
    color: blue;
}
div.poeta{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 200px;
}
div.poeta img{
    border-radius: 50%;
    width: 200px;
}
table.bebidas{
    margin-top: 0.5cm;
    margin-left: 0.7cm;
}
th{
    background-color: grey;
}